/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  color: #404040;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #0069d6;
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit;
}

a:hover {
  color: red;
}

table {
  font-size: inherit;
  font: 100%;
}

.clear {
  clear: both;
  height: 0;
}

@font-face { 
  font-family: 'WebSymbolsRegular';
  src: url('../fonts/websymbols-regular-webfont.eot');
  src: url('../fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/websymbols-regular-webfont.woff') format('woff'),
       url('../fonts/websymbols-regular-webfont.ttf') format('truetype'),
       url('../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

#header {
  width: 100%;
  background: #404040 url("../images/bg.png") repeat;
  text-align: center;
  overflow: hidden;
}

#headerimg, #headerimg img {
  max-width: 100%;
  margin-bottom: -2px;
}

#headerimg img {
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
}

#navbar {
  float: right;
  width: 293px;
}

#navbar a {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  color: #ccc;
  text-align: center;
}

#navbar a:hover {
  text-decoration: none;
  color: #0069d6;
}

.icon {
  font-family: "WebSymbolsRegular";
}

#navbar .icon {
  display: block;
  font-size: 30px;
  line-height: 40px;
}

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
  width: 100%;
  height: 1.75em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 15px;
  min-width: 300px;
  max-width: 600px;
  margin: 30px auto;
  padding: 0 20px;
  line-height: 140%;
}

.title {
  color: #a00;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  float: left;
  line-height: 70px;
  vertical-align: top;
}

@media only screen and (max-width: 470px) {
  .title {
    text-align: center;
    float: none;
  }

  #navbar {
    float: none;
    margin: 20px auto;
  }
}
@media only screen and (max-width: 340px) {
  .site {
    padding: 0 10px
  }
}

.site .title a {
  color: #a00;
  text-decoration: none;
}

.site .title a:hover {
  color: black;
}

.site .title a.extra {
  color: #aaa;
  text-decoration: none;
  margin-left: 1em;
}

.site .title a.extra:hover {
  color: black;
}

.site .meta {
  color: #aaa;
}

#followme {
  font-size: 80%;
  color: #666;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 10px;
}

.site .footer img {
  float: left;
  margin: 0 10px;
  border: 1px solid #ccc;
}

.rounded {
  border-radius: 50%;
}

/*****************************************************************************/
/*
/* Portfolio
/*
/*****************************************************************************/

#portfolio, #portfolio p#hireme, #portfolio p#footer {
  text-align: center;
}

#portfolio p, #portfolio ol {
  text-align: left;
  padding: 10px;
  color: #666666;
}

#portfolio #hey_im_neil:hover {
  -webkit-animation: bounce 1s;
  animation: bounce 1s;
}

#portfolio h1 {
  font-size: 32px;
  margin-top: 10px;
}

#portfolio h2 {
  font-size: 22px;
  margin-top: 40px;
  font-weight: normal;
  border-top: 1px solid #e6e6e6;
  padding-top: 25px;
}

#portfolio ul {
  margin: 20px 0;
}

#portfolio ul li {
  list-style: none;
  display: inline-block;
}

#portfolio ul li img {
  display: block;
  margin: 5px auto;
}

#portfolio ul#what_i_do li {
  min-width: 75px;
  width: 25%;
}
#portfolio ul#how_i_work li {
  margin: 7px 0;
  min-width: 90px;
  width: 20%;
  text-overflow:ellipsis;
}

#portfolio ol {
  margin-left: 40px;
}

#portfolio #casestudy {
  display: block;
  font-weight: bold;
  border: 2px solid #0069d6;
  border-radius: 40px;
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  margin: 0 auto;
}

#portfolio a#casestudy:hover {
  border: 2px solid red;
}

p#footer {
  font-size: 70%;
  color: #666;
  border-top: 1px solid #e6e6e6;
  padding-top: 25px;
  margin-top: 40px;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {
  margin-top: 2em;
  font-size: 17px;
  line-height: 150%;
}

.footnotes {
  font-size: 90%;
}

#post img {
  display: block;
  margin: 10px auto;
  width: 100%;
  max-width: 600px;
  height: auto;
}

/* standard */

#post ul, #post ol {
  margin-left: 1.35em;
}

#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
  overflow: scroll;
}

#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  font-size: 85%;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

#post blockquote {
  padding-left: 15px;
  border-left: 4px solid #eee;
}

.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}.animated.hinge{-webkit-animation-duration:2s;animation-duration:2s}@-webkit-keyframes bounce{0%,100%,20%,53%,80%{-webkit-transition-timing-function:cubic-bezier(0.215,.61,.355,1);transition-timing-function:cubic-bezier(0.215,.61,.355,1);-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}40%,43%{-webkit-transition-timing-function:cubic-bezier(0.755,.050,.855,.060);transition-timing-function:cubic-bezier(0.755,.050,.855,.060);-webkit-transform:translate3d(0,-30px,0);transform:translate3d(0,-30px,0)}70%{-webkit-transition-timing-function:cubic-bezier(0.755,.050,.855,.060);transition-timing-function:cubic-bezier(0.755,.050,.855,.060);-webkit-transform:translate3d(0,-15px,0);transform:translate3d(0,-15px,0)}90%{-webkit-transform:translate3d(0,-4px,0);transform:translate3d(0,-4px,0)}}@keyframes bounce{0%,100%,20%,53%,80%{-webkit-transition-timing-function:cubic-bezier(0.215,.61,.355,1);transition-timing-function:cubic-bezier(0.215,.61,.355,1);-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}40%,43%{-webkit-transition-timing-function:cubic-bezier(0.755,.050,.855,.060);transition-timing-function:cubic-bezier(0.755,.050,.855,.060);-webkit-transform:translate3d(0,-30px,0);-ms-transform:translate3d(0,-30px,0);transform:translate3d(0,-30px,0)}70%{-webkit-transition-timing-function:cubic-bezier(0.755,.050,.855,.060);transition-timing-function:cubic-bezier(0.755,.050,.855,.060);-webkit-transform:translate3d(0,-15px,0);-ms-transform:translate3d(0,-15px,0);transform:translate3d(0,-15px,0)}90%{-webkit-transform:translate3d(0,-4px,0);-ms-transform:translate3d(0,-4px,0);transform:translate3d(0,-4px,0)}}.bounce{-webkit-animation-name:bounce;animation-name:bounce;-webkit-transform-origin:center bottom;-ms-transform-origin:center bottom;transform-origin:center bottom}
