<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Neil Gupta" />
   <link href="/atom.xml" rel="alternate" title="Metamorphium" type="application/atom+xml" />
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21028530-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div class="site">

	<div class="title">
		<a href="/" title="Metamorphium by Neil Gupta">Metamorphium</a>
	</div>

  <div id="navbar">
		<a href="http://twitter.com/neilgupta" title="Follow @neilgupta for more thoughts">
		<span class="icon">t</span>
		Twitter</a>
		
		<a href="http://github.com/neilgupta" title="Check out my projects">
		<span class="icon">H</span>
		GitHub</a>

    <a href="http://500px.com/neilgupta" title="Look at some of my photography">
    <span class="icon">I</span>
    500px</a>

		<a href="mailto:neil@metamorphium.com" title="Say hi!">
		<span class="icon">@</span>
		Email</a>

    <a href="/atom.xml" title="Subscribe to the RSS feed">
    <span class="icon">B</span>
    RSS</a>
	</div>

<div class="clear">&nbsp;</div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
      	<img src="/images/neil.jpg" width="85" height="85" alt="Neil Gupta" />
        <b>Neil Gupta</b> is founder & CEO at <a href="http://tabuleapp.com">Tabule</a>. He previously studied Computer Science and Psychology at Illinois Institute of Technology. Neil grew up in the Silicon Valley, but currently lives in Chicago. He enjoys programming, design, photography, and enchiladas. This is a collection of his work and thoughts.
      </p>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  
</div>
</body>
</html>
