---
layout: base
---

<div class="title">
  <a href="/" title="Metamorphium by Neil Gupta">Metamorphium</a>
</div>

<div id="navbar">
  <a href="/timeline" title="Read about my life">Timeline</a>
  <a href="http://twitter.com/neilgupta" title="Follow @neilgupta for more thoughts">Twitter</a>
  <a href="http://github.com/neilgupta" title="Check out my open-source code">GitHub</a>
  <a href="mailto:neil@metamorphium.com" title="Say hi!">Email</a>
</div>

<div class="clear">&nbsp;</div>

{{ content }}

<div class="footer">
  <div class="contact">
    <p>
      <img src="/images/neil.jpeg" width="85" height="85" alt="Neil Gupta" />
      <b>Neil Gupta</b> is the founder of <a href="https://www.hiome.com" target="_blank" title="Rethink what your home can do">Hiome</a>, where he is working to change how we use our homes. He loves talking about technology, cognitive psychology, and UX design. He grew up in the Bay Area but he hosts game nights and eats enchiladas in Chicago now. <a href="/timeline" title="About me">Learn more.</a>
    </p>
  </div>
  <div class="clear">&nbsp;</div>
</div>
